:root{
    --bg-color:#E5E5E5;
    --primary-text-color:#000;
    --btn-and-accent-color: #C9453B;
    --secondary-text-color:#FFFFFF;
    --animation:  500ms cubic-bezier(0.4,0,0.2,1);
    --mg-size-sm: 576px;
    --mg-size-md: 768px;
    --mg-size-lg: 992px;
    --mg-size-xl: 1200px;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}
a{
    text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container{
  --container-width: 100%;
  width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px;
}
.header{
    padding: 12px 0;
    position: relative;
}
.header--overlay{
  width: 100%;
  height: 100%;
  background-image: url('../images/hero/hero@1x.jpg');
  background-size: 100% 82%;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .box {
    background-image: url('../images/hero/hero@2x.jpg');
  }
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    pointer-events: none;
    font-family: Ribeye;
font-weight: 400;
font-size: 14px;
margin-right: 30px;
line-height: 150%;
letter-spacing: 0.06em;
color: var(--secondary-text-color);
}
.nav{
    display: none;
}
.nav-mobile__list{
    display: none;
    top: 0;
    left: 0;
}
.nav-mobile__list.is-open{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 90px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  background-color: var(--secondary-text-color);
  opacity: 0.9;
  z-index: 1;
}
.nav-mobile__link{
        font-family: Ribeye;
        font-weight: 500;
        color: var(--primary-text-color);
        font-size: 25px;
        display: block;
        text-align: center;
        transition: text-shadow var(--animation);
    }
.nav-mobile__link:hover{
        text-shadow: 3px 3px 10px red, -3px -3px 10px #ff0;
}
.nav-mobile__item:not(:last-child){
    margin-bottom: 10px;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  cursor: pointer;
  background: var(--btn-and-accent-color);
  border-radius: 5px;
}
.btn--header{
        width: 70px;
        height: 20px;
    }
    .btn--footer{
        width: 70px;
        height: 20px;
    }
.btn__text{
    font-size: 9px;
line-height: 150%;
color: var(--secondary-text-color);
}
.hero{
    padding-bottom: 50px;
}
.text--news{
    width: 310px;
    margin: 0 auto 12px
}
@media screen and (min-width:480px) {
    .hero{
        padding-bottom: 150px;
    }
}
.hero__title{
    font-family: Gelasio;
    width: 200px;
font-weight: 700;
font-size: 16px;
margin-bottom: 8px;
line-height: 120%;
color: var(--secondary-text-color);
}
.hero__text{
    font-size: 10px;
    width: 170px;
    margin-bottom: 8px;
color: inherit;
opacity: 0.6;
color: var(--secondary-text-color);
}
.btn--hero{
    width: 70px;
    height: 25px;
    margin-bottom: 70px;
}
.burger{
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 30px;
    height: 10px;
    width: 15px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.burger.is-open .burger__item{
    opacity: 0;
    transition: 0.5;
}
.burger.is-open::before{
    top: 0;
    background-color: var(--btn-and-accent-color);
    transform: rotate(45deg);
    transition: 0.5;
    z-index: 2;
}
.burger.is-open::after{
    bottom: 8px;
    transform: rotate(-45deg);
    background-color: var(--btn-and-accent-color);
    z-index: 2;
}
.burger::before{
top: 0;
}
.burger::after{
    bottom: 0;
}
.burger__item{
    background-color: var(--secondary-text-color);
    height: 2px;
    width: 100%;
}
.burger::before, .burger::after{
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: var(--secondary-text-color);
}
.section-title{
font-family: Gelasio;
font-weight: 500;
font-size: 16px;
margin-bottom: 8px;
line-height: 140%; 
text-align: center;
color: var(--primary-text-color);
}
.text{
    font-size: 10px;
line-height: 160%;
text-align: center;
color: var(--primary-text-color);
opacity: 0.6;
}
.text--descr{
    text-align: left;
    width: 160px;
    margin-bottom: 5px;
}
.text--blog{
    text-align: left;
    width: 320px;
    margin-bottom: 10px;
}
.both{
    display: flex;
    justify-content: center;
    align-items: center;
}
.third{
    display: flex;
}
.travel{
    padding-bottom: 50px;
}
.text--travel{
    max-width: 285px;
    margin: 0 auto 12px;
}
.grid__item{
    width: 300px;
height: 365px;
margin: 0 auto 20px;
background: var(--secondary-text-color);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 10px;
box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
}
.description__title{
    font-family: Gelasio;
font-weight: 500;
font-size: 14px;
line-height: 150%;
text-align: center;
color: var(--primary-text-color);
}
.blog__title{
    font-family: Gelasio;
font-size: 12px;
text-align: left;
margin-bottom: 8px;
}
.description{
    padding: 18px 65px;
}
.picture{
    width: 100%;
}
.photos__item:not(:last-child){
    margin-bottom: 20px;
}
.blog{
    padding: 30px 0;
}
.descriptions{
    width: 300px;
    margin: 0 auto 15px;
}
.description__title--blog{
    margin-bottom: 10px;
}
.descr__link{
font-size: 10px;
line-height: 150%;
color: var(--primary-text-color);
}
.descr__link--blog{
    font-weight: 500;
}
.picture-news{
    width: 330px;
    margin: 0 auto 15px;
    border-radius: 10px;
    overflow: hidden;
}
.picture-blog{
    width: 150px;
    border-radius: 10px;
    overflow: hidden;
}
.second{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.photo-description{
    display: flex;
    flex-direction: column;
}
.section-blog{
    padding-bottom: 50px;
}
.logo--footer{
    display: block;
    margin-bottom: 8px;
    color: var(--primary-text-color);
}
.social{
    display: flex;
    align-items: center;
}
.social__item:not(:last-child){
margin-right: 10px;
}
.social__icon{
    width: 10px;
    height: 10px;
}
.footer{
    padding: 40px 0 55px;
}
.footer__text,
.footer__email{
    font-size: 9px;
line-height: 160%;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}
.social{
    margin-bottom: 15px;
}
.footer__wrapper{
    display: flex;
    justify-content: space-around;
}
.footer__link{
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
font-size: 9px;
line-height: 150%;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}
.form__field{
    display: inline-flex;
    align-items: center;
}
.btn--footer {
    width: 35px;
    height: 14px;
}
.form__title{
    font-weight: 500;
font-size: 10px;
margin-bottom: 15px;
line-height: 150%;
color: var(--primary-text-color);
}
.social__img {
    height: 16px;
    width: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.logo-social{
    margin-right: 8px;
}
.first-block{
    margin-right: 8px;
}
.second-block{
    margin-right: 8px;
}
.form__input{
    width: 75px;
    height: 16px;
    padding: 2px 10px 6px ;
    margin-right: 4px;
    border-radius: 5px;
    background: rgba(38, 148, 153, 0.04);
}
::placeholder{
    font-size: 8px;
line-height: 150%;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}
.top-wrapper{
position: fixed;
  bottom: 39px;
  right: 10px;
  z-index: 10;
  cursor: pointer;
}

.top-wrapper img {
  position: fixed;
  right: 30px;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  transition: all var(--animation);
  scroll-behavior: smooth;
}
  
  .top-wrapper img {
    background: rgba(169, 212, 218, 0.288);
    box-shadow: 0 0px 10px rgb(15, 15, 15), 0 16px 20px rgb(62, 198, 211);
  }
  
  .top{
      width: 25px;
  height: 25px;
  scroll-behavior: smooth;
  }
  .top:hover{
      background-color: var(--btn-and-accent-color);
  }

@media (min-width:567px){
    .container{
        --container-width:var(--mg-size-sm);
    }
    .header--overlay{
        width: 100wv;
        height: 100hv;
        background-size: 100% 82%;
    }
    .logo{
    font-size: 18px;
    }
    .nav-mobile__link{
        font-size: 40px;
    }
    .btn--header{
        width: 80px;
        height: 30px;
    }
    .btn__text{
        font-size: 10px;
    }
    .hero{
    padding-bottom: 60px;
}
    .hero__title{
        font-size: 20px;
        width: 250px;
    }
    .hero__text{
    font-size: 12px;
}
.btn--hero{
    margin-bottom: 60px;
}
.menu__icon{
    width: 20px;
    height: 20px;
}
.header{
    padding: 20px 0;
}
.menu__close{
    width: 30px;
    height: 30px;
}
.section-title{
    font-size: 22px;
    margin-bottom: 10px;
}
.text{
    font-size: 12px;
}
.text--travel{
    max-width: 340px;
    margin-bottom: 18px;
}
.text--news{
    width: 380px;
    margin-bottom: 18px;
}
.grid__item {
    width: 320px;
    height: 390px;
}
.description__title{
    font-size: 16px;
}
.blog__title{
font-size: 14px;
}
.descriptions{
    text-align: center;
    width: 380px;
    margin-bottom: 20px;
}
.text--descr{
    width: 180px;
}
.text--blog{
    width: 365px;
    text-align: center;
}
.descr__link{
font-size: 12px;
}
.blog{
    padding: 60px 0;
}
.picture-news{
    width: 350px;
    margin: 0 auto 20px;
}
.picture-blog {
    width: 250px;
}

.section-blog{
    padding-bottom: 80px;
}
.logo--footer{
    margin-bottom: 12px;
}
.social__item:not(:last-child){
margin-right: 12px;
}
.social__icon{
    width: 15px;
    height: 15px;
}
.burger{
    left: 80px;
    height: 12px;
    width: 16px;
}
.burger.is-open::before {
    top: 2px;
}
.footer__text,
.footer__email{
    font-size: 14px;
}
.social{
    margin-bottom: 20px;
}
.form__title{
    font-size: 14px;
    margin-bottom: 20px;
    letter-spacing: 0.06em;
}
.social__img {
    height: 22px;
    width: 22px;
    padding-top: 1px;
    padding-bottom: 3px;
}
.form__input {
    width: 122px;
    height: 20px;
    margin-right: 10px;
}
.btn--footer {
    width: 44px;
    height: 20px;
}
.footer__link{
    font-size: 12px;
    margin-bottom: 8px;
}
::placeholder{
    font-size: 10px;
}
}
@media (min-width:768px){
    .container{
        --container-width:var(--mg-size-md);
    }
    .header--overlay{
        width: 100%;
        height: 100%;
        background-size: 100% 84%;
    }
    .logo{
    font-size: 18px;
    }
    .btn--header{
        width: 120px;
        height: 40px;
    }
    .btn__text{
    font-size: 12px;
    }
    .hero{
    padding-bottom: 70px;
}
    .hero__title{
        font-size: 28px;
        width: 350px;
    }
    .hero__text{
    font-size: 14px;
    width: 300px;
    margin-bottom: 15px;
}
.btn--hero{
    width: 90px;
    height: 35px;
    margin-bottom: 100px;
}
.menu__icon{
    width: 22px;
    height: 22px;
}
.menu__close{
    width: 30px;
    height: 30px;
}
.nav-mobile__list.is-open{
    padding: 100px;
}
.nav-mobile__link{
    font-size: 50px;
}
.section-title{
    font-size: 30px;
    margin-bottom: 15px;
}
.text{
    font-size: 14px;
}
.travel{
    padding-bottom: 0;
}
.text--travel{
    max-width: 395px;
    margin-bottom: 22px;
}
.description__title{
    font-size: 18px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: 0;
    padding-bottom: 60px;
}
.grid__item {
    width: 350px;
    height: 435px;
    margin-right: 30px;
}
.grid__item:not(:last-child){
    margin-bottom: 30px;
}
.description {
    padding: 20px 65px;
}
.text--news {
    width: 430px;
    margin-bottom: 22px;
}
.blog__title{
font-size: 16px;
margin-bottom: 10px;
}
.text--descr{
    width: 270px;
}
.text--blog{
    width: 400px;
}
.descr__link{
font-size: 14px;
}
.picture-news{
    width: 400px;
    margin: 0 auto 30px;
}
.picture-blog {
    width: 290px;
}
.section-blog{
    padding-bottom: 100px;
}
.social__item:not(:last-child){
margin-right: 15px;
}
.social__img {
    height: 24px;
    width: 24px;
    padding-bottom: 5px;
}
.logo--footer{
    margin-bottom: 15px;
}
.burger{
    left: 140px;
    height: 14px;
    width: 20px;
}
.burger.is-open::before {
    top: 4px;
}
.social{
    margin-bottom: 28px;
}
.footer__link{
    font-size: 14px;
}
.form__title{
    font-size: 16px;
    margin-bottom: 28px;
}
.form__input {
    width: 140px;
    height: 25px;
    margin-right: 15px;
}
.btn--footer {
    width: 50px;
    height: 23px;
}
::placeholder{
    font-size: 12px;
}
}
@media (min-width:992px){
    .container{
        --container-width:var(--mg-size-lg);
    }
    .header--overlay{
        background-size: 100% 84%;
    }
    .logo{
    font-size: 20px;
    }
    .btn__text{
    font-size: 14px;
    }
    .hero__title{
        font-size: 48px;
        width: 585px;
    }
    .hero{
    padding-bottom: 90px;
}
    .hero__text{
    font-size: 16px;
    width: 450px;
    margin-bottom: 25px;
}
.btn--hero{
    width: 115px;
    height: 40px;
    margin-bottom: 150px;
}
.menu__icon{
    width: 24px;
    height: 24px;
}
.menu__close{
    right: 35px;
}
.section-title{
    font-size: 36px;
    margin-bottom: 18px;
}
.text{
    font-size: 16px;
}
.text--travel{
    max-width: 495px;
    margin-bottom: 35px;
}
.grid{
    flex-wrap: nowrap;
    margin: 0;
padding-bottom: 60px;
}
.grid__item {
    min-width: 300px;
    height: 400px;
    margin-right: 25px;
    margin-bottom: 0;
}
.description{
    padding: 20px 30px;
}
.descriptions{
    width: 380px;
    margin: 0;
}
.text--news {
    width: 490px;
    margin-bottom: 40px;
}
.flex-grid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-right: 30px;
}
.second{
    display: flex;
    margin-right: 30px;
    flex-basis: calc((50% - 30px) / 2);
}
.third{
    display: flex;
    flex-basis: calc((50% - 30px) / 2);
}
.blog__title{
font-size: 18px;
}

.descr__link{
font-size: 16px;
}
.picture-news{
    width: 376px;
}
.picture-blog{
    width: 200px;
}
.text--blog {
    display: block;
    width: 400px;
}
.text--descr {
    width: 250px;
}
.blog{
    padding: 30px 0;
}
.logo--footer{
    margin-bottom: 20px;
}
.burger {
    left: 196px;
}
.social{
    margin-bottom: 35px;
}
.form__title{
    font-size: 18px;
    margin-bottom: 32px;
}
.footer__link{
    font-size: 16px;
}
::placeholder{
    font-size: 14px;
}
.form__input {
    width: 160px;
    height: 25px;
    padding: 4px 15px 6px;
}
}
@media (min-width:1200px){
    .container{
        --container-width:var(--mg-size-xl);
    }
    .header{
    padding-top: 42px;
    padding-bottom: 208px;
}
    .header--overlay{
    height: 100%;
    width: 100%;
    background-size: 100% 86%;
    }
    .logo{
    font-size: 24px;
    margin-right: 210px;
    }
    .nav{
        display: block;
    }
    .nav__list{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .nav__link{
        font-weight: 500;
        color: var(--secondary-text-color);
        font-size: 18px;
        line-height: 150%;
        transition:  text-shadow var(--animation);
    }
    .nav__link:hover{
        text-shadow: 3px 3px 10px red, -3px -3px 10px #ff0;
    }
    .nav__link.is-active{
        pointer-events: none;
    }
    .nav__item:not(:last-child){
        margin-right: 50px;
    }
    .btn{
        transition:  transform var(--animation),box-shadow var(--animation) ;

    }
    .btn:hover{
        transform: scale(1.01);
    box-shadow: 3px 3px 10px red, -3px -3px 10px #ff0;
    }
    .btn--header{
        width: 163px;
        height: 51px;
        margin-left: 170px;
    }
    .btn__text{
    font-size: 16px;
    transition:  text-shadow var(--animation);
}
    .btn__text:hover{
        text-shadow: 3px 3px 10px red, -3px -3px 10px #ff0;
}
.hero{
    padding-bottom: 140px;
}
.btn--hero{
    margin-bottom: 244px;
}
.hero__title{
    font-size: 65px;
    width: 805px;
    margin-right: auto;
    margin-bottom: 30px;
    transition:  text-shadow var(--animation);
}
.hero__title:hover{
        text-shadow: 3px 3px 10px red, -3px -3px 10px #ff0;
}
.hero__text{
    font-size: 18px;
    width: 458px;
    line-height: 160%;
    margin-right: auto;
    margin-bottom: 40px;
}
.nav-mobile{
    display: none;
}
.menu__btn,
.menu__close{
    display: none;
}
.grid{
    padding-bottom: 0;
}
.grid__item{
    width: 360px;
height: 500px;
margin-right: 37px;
cursor: pointer;
transition: transform var(--animation), filter var(--animation);
}
.grid__item:hover,
.picture-news:hover,
.picture-blog:hover{
    transform: scale(1.01);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.section-title{
font-size: 43px;
margin-bottom: 20px;
}
.text{
    font-size: 18px;
}
.text--travel{
    max-width: 735px;
    margin-bottom: 50px;
}
.travel{
    padding-bottom: 141px;
}
.description__title{
font-size: 24px;
}
.picture{
    width: 351px;
    height: 331px;
    overflow: hidden;
}
.description{
    padding: 35px 27px;
}
.text--news {
    width: 581px;
    margin-bottom: 56px;
}
.text--blog {
    width: 460px;
    text-align: left;
}
.flex-grid{
    align-items: flex-start;
}
.picture-blog {
    width: 263px;
    height: 201px;
    cursor: pointer;
    transition:  transform var(--animation),filter var(--animation);
}
.descriptions{
    width: 540px;
    text-align: left;
}
.blog{
    padding: 45px 0;
}
.blog__title{
font-size: 20px;
}
.description__title--blog{
    text-align: left;
}
.descr__link{
font-size: 20px;
transition:  text-shadow var(--animation);
}
.descr__link:hover{
    text-shadow: 3px 3px 10px red, -3px -3px 10px #ff0;
}
.picture-news{
    width: 554px;
    margin-bottom: 38px;
    cursor: pointer;
    transition:  transform var(--animation),filter var(--animation);
}
.section-blog{
    padding-bottom: 195px;
}
.logo--footer{
    margin-bottom: 26px;
}
.social{
    margin-bottom: 50px;
}
.social__item:not(:last-child){
margin-right: 27px;
}
.social__icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition:  box-shadow var(--animation);
}
.social__img{
    height: 28px;
    width: 28px;
    padding-top: 1px;
    border-radius: 50%;
    transition:  transform var(--animation), box-shadow var(--animation);
}
.social__icon:hover,
.social__img:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 10px red, -3px -3px 10px #ff0;
}
.burger{
    display: none;
}
.footer{
    padding: 70px 0 85px;
}
.footer__text,
.footer__email{
    font-size: 16px;
    margin-bottom: 10px;
}
.footer__email{
transition:  text-shadow var(--animation);
}
.footer__email:hover{
        text-shadow: 3px 3px 10px red, -3px -3px 10px #ff0;
}
.footer__link{
    font-size: 16px;
    margin-bottom: 20px;
    transition:  text-shadow var(--animation);
}
.footer__link:hover{
        text-shadow: 3px 3px 10px red, -3px -3px 10px #ff0;
}
.form__title{
    font-size: 20px;
    margin-bottom: 42px;
}
.btn--footer{
    width: 103px;
    height: 44px;
}
.form__input{
    width: 195px;
    height: 44px;
    padding: 8px 20px 6px;
    margin-right: 35px;
    transition:  filter var(--animation), border var(--animation);
}
.form__input:focus{
    border: 2px solid var(--btn-and-accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    outline: none;
}
.logo-social{
    width: 200px;
    margin-right: 105px;
}
.first-block{
    margin-right: 121px;
}

.second-block{
    margin-right: 133px;
}
::placeholder{
    font-size: 16px;
}
}